<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="<%= BASE_URL %>css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/animate-3.7.0.css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/style.css">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>beerchick_frontend</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but beerchick_frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
