<template>
  <div class="bar">
    <section class="banner-area banner-area2 menu-bg text-center">
      <div class="container">
        <div class="row">
          <div v-if="bar" class="col-lg-12">
            <h1 class="pb-2">
              <i>{{ bar.name }}</i>
            </h1>
            <h1 class="pb-2">
              <img
                class="star"
                src="../../src/assets/images/star.svg"
                alt=""
              /><i>{{ bar.rating }}</i>
            </h1>
            <p class="pt-4">
              <i>{{ bar.address }}</i>
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="whole-wrap">
      <div class="container">
        <Menu v-if="bar && bar.menu" :bar="bar"></Menu>
        <Feedback :bar="bar"></Feedback>
        <FeedbackForm></FeedbackForm>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "../components/Menu";
import FeedbackForm from "../components/FeedbackForm";
import { fetchBar } from "../services/bar";
import Feedback from "../components/FeedbackForBar";

export default {
  name: "Bar",
  components: {
    Menu,
    FeedbackForm,
    Feedback
  },
  data() {
    return {
      bar: null
    };
  },
  created() {
    fetchBar(this.$route.params.id)
      .then(response => {
        // handle success
        // console.log(response.data);
        this.bar = response.data.bar;
        console.log(this.bar);
      })
      .catch(error => {
        // handle error
        console.log(error);
      })
      .then(() => {
        // always executed
      });
  }
};
</script>

<style scoped>
.menu-bg {
  background-image: url("../../src/assets/images/contact-bg.jpg") !important;
}
.star {
  width: 40px;
}
</style>
