<template>
  <div class="beer">
    <section class="banner-area banner-area2 menu-bg text-center">
      <div class="container">
        <div class="row">
          <div v-if="beer" class="col-lg-12">
            <h1>
              <i>{{ beer.name }}</i>
            </h1>
            <h1 class="pb-2">
              <img
                class="star"
                src="../../src/assets/images/star.svg"
                alt=""
              /><i>{{ beer.rating }}</i>
            </h1>
            <p class="pt-2">
              <i>{{ beer.style }}</i>
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="whole-wrap">
      <div class="container">
        <TableOfBars :beer="beer"></TableOfBars>
        <TableOfUsers :beer="beer"></TableOfUsers>
        <FeedbackForBeer :beer="beer"></FeedbackForBeer>
        <FeedbackForm></FeedbackForm>
      </div>
    </div>
  </div>
</template>

<script>
import FeedbackForm from "../components/FeedbackForm";
import { fetchBeer } from "../services/beer";
import TableOfBars from "../components/TableOfBars";
import FeedbackForBeer from "../components/FeedbackForBeer";
import TableOfUsers from "../components/TableOfUsers";

export default {
  name: "Beer",
  components: {
    TableOfBars,
    FeedbackForBeer,
    FeedbackForm,
    TableOfUsers
  },
  data() {
    return {
      beer: null
    };
  },
  created() {
    fetchBeer(this.$route.params.id)
      .then(response => {
        // handle success
        // console.log(response.data);
        this.beer = response.data.beer;
        console.log(this.beer);
      })
      .catch(error => {
        // handle error
        console.log(error);
      })
      .then(() => {
        // always executed
      });
  }
};
</script>

<style scoped>
.menu-bg {
  background-image: url("../../src/assets/images/BEER.jpg") !important;
}
.star {
  width: 40px;
}
</style>
