<template>
  <div class="home">
    <section class="banner-area banner-area2 menu-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Bars near you</h1>
            <multi-select
              :options="options"
              :selected-options="items"
              placeholder="Start typing the bar"
              @select="onSelect"
              @searchchange="getSuggestions"
            >
            </multi-select>
          </div>
        </div>
      </div>
    </section>
    <Map :selected_bar="lastSelectItem" />
  </div>
</template>

<script>
import Map from "../components/Map";
import { MultiSelect } from "vue-search-select";
import { fetchSuggestions } from "../services/bar";

export default {
  name: "home",
  components: {
    Map,
    MultiSelect
  },
  data() {
    return {
      options: [],
      searchText: "",
      items: [],
      lastSelectItem: {}
    };
  },
  created() {
    this.getSuggestions('');
  },
  methods: {
    onSelect(items, lastSelectItem) {
      this.items = items;
      this.lastSelectItem = lastSelectItem;
      if (lastSelectItem)
        window.scrollTo(0, document.body.scrollHeight);
    },
    getSuggestions(prefix) {
      this.prefix = prefix;
      this.loading = true;
      fetchSuggestions(prefix).then((res) => {
        this.loading = false;
        console.log(res.data);
        this.options = res.data.map((el) => {
          return {
            value: el,
            text: `${el.name} (${el.rating})`
          }
        });
      });
    }
  }
};
</script>
