<template>
  <div class="user">
    <section class="banner-area banner-area2 menu-bg text-center">
      <div class="container">
        <div class="row">
          <div v-if="user" class="col-lg-12">
            <h1>
              <i>{{user.username}}</i>
            </h1>
            <p class="pt-2">
              <i>{{user.first_name}} {{user.last_name}}</i>
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="whole-wrap">
      <div class="container">
        <TableOfFavBeer :user="user"></TableOfFavBeer>
      </div>
    </div>
  </div>
</template>

<script>
import { fetchUser } from "../services/user";
import TableOfFavBeer from "../components/TableOfFavBeer";

export default {
  name: "User",
  data() {
    return {
      user: null
    };
  },
  components: {
    TableOfFavBeer
  },
  created() {
    fetchUser(this.$route.params.id)
      .then(response => {
        // handle success
        // console.log(response.data);
        this.user = response.data.user;
        console.log(this.user);
      })
      .catch(error => {
        // handle error
        console.log(error);
      })
      .then(() => {
        // always executed
      });
  }
};
</script>

<style scoped>
.menu-bg {
  background-image: url("../../src/assets/images/ludi.jpg") !important;
}
</style>
