<template>
  <div class="section-top-border">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mb-30 title_color">Leave a feedback</h3>
        <form action="#">
          <div class="mt-10">
            <input
              type="text"
              name="first_name"
              placeholder="First Name"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'First Name'"
              required
              class="single-input"
            />
          </div>
          <div class="mt-10">
            <input
              type="text"
              name="last_name"
              placeholder="Last Name"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Last Name'"
              required
              class="single-input"
            />
          </div>

          <div class="mt-10">
            <textarea
              class="single-textarea"
              placeholder="Message"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Message'"
              required
            ></textarea>
          </div>
          <div class="mt-10 mb-20 col-lg-6">
            <vue-slider
              v-model="value"
              ref="slider"
              :min="0"
              :max="5"
              :piecewise="true"
              :piecewiseLabel="true"
              :data="labels"
              :value="0"
              name="scale"
              :marks="labels"
            >
            </vue-slider>
          </div>
          <a href="" class="template-btn template-btn2 mt-4">Submit</a>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";

export default {
  name: "FeedbackForm",
  data() {
    return {
      value: 0,
      labels: [1, 2, 3, 4, 5]
    };
  },
  components: { VueSlider }
};
</script>

<style scoped></style>
