<template>
  <div>
    <div
      v-for="(review, i) in beer.beerreview_set"
      :key="review.id"
      class="section-top-border"
    >
      <h3 class="mb-30 title_color">
        <img
          class="star mr-2 "
          src="../../src/assets/images/star.svg"
          alt=""
        />{{ review.rating }}
      </h3>
      <div class="row">
        <div class="col-md-9 mt-sm-20 left-align-p">
          <p>
            {{ review.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Feedback",
  props: {
    beer: Object
  }
};
</script>

<style scoped>
.star {
  width: 30px;
}
</style>
