<template>
  <header class="header-area header-area2">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo-area">
            <router-link to="/" exact class="logo">
              <img src="../assets/logo.svg" alt="logo"/>
              Beerchick
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped></style>
