<template>
  <GmapMap
    :center="currentCenter"
    :zoom="zoom"
    ref="mapRef"
    map-type-id="terrain"
    :options="{
      disableDefaultUi: false,
      minZoom: 7,
      styles: [
        { elementType: 'geometry', stylers: [{ color: '#212121' }] },
        { elementType: 'labels.icon', stylers: [{ visibility: 'off' }] },
        { elementType: 'labels.text.fill', stylers: [{ color: '#7f7b0f' }] },
        { elementType: 'labels.text.stroke', stylers: [{ color: '#212121' }] },
        {
          featureType: 'administrative',
          elementType: 'geometry',
          stylers: [{ color: '#757575' }]
        },
        {
          featureType: 'administrative.country',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#9e9e9e' }]
        },
        {
          featureType: 'administrative.land_parcel',
          stylers: [{ visibility: 'off' }]
        },
        {
          featureType: 'administrative.locality',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#bdbdbd' }]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#757575' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{ color: '#181818' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#616161' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.stroke',
          stylers: [{ color: '#1b1b1b' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry.fill',
          stylers: [{ color: '#2c2c2c' }]
        },
        {
          featureType: 'road',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#8a8a8a' }]
        },
        {
          featureType: 'road.arterial',
          elementType: 'geometry',
          stylers: [{ color: '#373737' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{ color: '#3c3c3c' }]
        },
        {
          featureType: 'road.highway.controlled_access',
          elementType: 'geometry',
          stylers: [{ color: '#4e4e4e' }]
        },
        {
          featureType: 'road.local',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#616161' }]
        },
        {
          featureType: 'transit',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#757575' }]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{ color: '#000000' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#3d3d3d' }]
        }
      ]
    }"
    @bounds_changed="getBoundsRadius"
    @zoom_changed="z => (zoom = z)"
    style="width: 100%; height: 100vh"
  >
    <GmapMarker
      :key="bar.id"
      v-for="(bar, i) in bars"
      :position="{ lat: +bar.location.lat, lng: +bar.location.lon }"
      :clickable="true"
      :title="bar.name"
      :address="bar.address"
      @click="toggleInfoWindow(bar, i)"
      type="bar"
      icon="/bar.svg"
    />
    <GmapInfoWindow
      :options="infoOptions"
      :position="infoWindowPos"
      :opened="infoWinOpen"
      @closeclick="infoWinOpen = false"
    >
      <div class="info-window">
        <div v-html="infoContent"></div>
      </div>
    </GmapInfoWindow>
  </GmapMap>
</template>

<script>
import {fetchNearestBars} from "../services/bar";

export default {
  name: "Map",
  props: {
    selected_bar: Object
  },
  data() {
    return {
      currentCenter: { lat: 51.59413239677862, lng: 0.4503968527528741 },
      bars: [],
      zoom: 13,
      radius: 9,
      lastRequest: 0,
      timeout: 0,

      infoContent: '',
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        },
      },
    };
  },
  watch: {
    selected_bar(newVal) {
      console.log(newVal);
      if (newVal && newVal.value) {
        const bar = newVal.value;
        this.currentCenter = { lat: bar.location.lat, lng: bar.location.lon };
        this.zoom = 15;
      }
    }
  },
  methods: {
    getBoundsRadius(bounds) {
      // r = radius of the earth in km
      const r = 6378.8;
      if (bounds) {
        const center = bounds.getCenter();
        // degrees to radians (divide by 57.2958)
        const ne_lat = bounds.getNorthEast().lat() / 57.2958;
        const ne_lng = bounds.getNorthEast().lng() / 57.2958;
        const c_lat = center.lat() / 57.2958;
        const c_lng = center.lng() / 57.2958;
        // distance = circle radius from center to Northeast corner of bounds
        const r_km = r * Math.acos(Math.sin(c_lat) * Math.sin(ne_lat) + Math.cos(c_lat) * Math.cos(ne_lat) * Math.cos(ne_lng - c_lng));
        this.radius = r_km;
        clearTimeout(this.timeout);
        if (this.lastRequest + 1000 < new Date().getTime()) {
          this.timeout = setTimeout(() => {
            fetchNearestBars(center.lat(), center.lng(), r_km).then((res) => this.bars = res.data);
            this.lastRequest = new Date().getTime();
          }, 1000);
        }
      }
    },
    toggleInfoWindow: function(bar, idx) {
      this.infoWindowPos = { lat: +bar.location.lat, lng: +bar.location.lon };
      this.infoContent = this.getInfoWindowContent(this.bars[idx]);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    getInfoWindowContent: function (bar) {
      return (`<a href="/bar/${bar.id}" class="single-food">
                        <div class="food-content">
                            <div class="d-flex justify-content-between flex-column">
                                <h5>${bar.name}</h5>
                                <span class="style-change">Rating: ${bar.rating}</span>
                            </div>
                            <p class="pt-3">${bar.address}</p>
                        </div>
                    </a>`);
    },
  },
  mounted() {}
};
</script>

<style scoped></style>