<template>
  <div class="section-top-border">
    <h3 class="mb-30 title_color">Who also loves this beer</h3>
    <div class="progress-table-wrap">
      <div class="progress-table">
        <div class="table-head">
          <div class="serial">#</div>
          <div class="country">Name</div>
        </div>
        <router-link
          class="table-row"
          v-for="(user, i) in beer.users"
          :key="user.user.id"
          :to="'/user/' + user.user.id"
          tag="div"
        >
          <div class="serial">{{ i }}</div>
          <div class="country">
            {{ user.user.first_name }} {{ user.user.last_name }}
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TableOfUsers",
  props: {
    beer: Object
  }
};
</script>

<style scoped></style>
