<template>
  <div class="section-top-border">
    <h3 class="mb-30 title_color">Lovely beers</h3>
    <div class="progress-table-wrap">
      <div class="progress-table">
        <div class="table-head">
          <div class="serial">#</div>
          <div class="country">Bar name</div>
          <div class="visit">Abv</div>
          <div class="visit">Style</div>
          <div class="percentage">Rating</div>
        </div>
        <router-link
          class="table-row"
          v-for="(beer, i) in user.profile.preferences"
          :key="beer.id"
          :to="'/beer/' + beer.id"
          tag="div"
        >
          <div class="serial">{{ i }}</div>
          <div class="country">
            {{ beer.name }}
          </div>
          <div class="visit">{{ beer.abv }}</div>
          <div class="visit">{{ beer.style }}</div>
          <div class="percentage">
            <div class="progress">
              <div
                class="progress-bar color-1"
                role="progressbar"
                :style="'width: ' + beer.rating * 20 + '%;'"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TableOfFavBeer",
  props: {
    user: Object
  }
};
</script>

<style scoped></style>
