<template>
  <div class="section-top-border">
    <h3 class="mb-30 title_color">Bars</h3>
    <div class="progress-table-wrap">
      <div class="progress-table">
        <div class="table-head">
          <div class="serial">#</div>
          <div class="country">Bar name</div>
          <div class="visit">Address</div>
          <div class="percentage">Rating</div>
        </div>
        <router-link class="table-row" v-for="(bar, i) in beer.bars" :key="bar.id"  :to="'/bar/' + bar.id"
             tag="div">
          <div class="serial">{{ i }}</div>
          <div class="country">
            {{ bar.name }}
          </div>
          <div class="visit">{{ bar.address }}</div>
          <div class="percentage">
            <div class="progress">
              <div
                class="progress-bar color-1"
                role="progressbar"
                :style="'width: ' + bar.rating * 20 + '%;'"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TableOfBars",
  props: {
    beer: Object
  }
};
</script>

<style scoped></style>
