<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>
<script>
import Header from "./components/Header.vue";

export default {
  name: "App",
  components: {
    Header
  }
};
</script>
<style lang="scss">
@import "assets/styles/styles";
.table-row {
  cursor: pointer;
}
.logo {
  align-items: center;
  font-size: 24px;
  color: #fff !important;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
a {
  color: inherit;
}
.logo img {
  margin-right: 10px;
}
.search.selection.dropdown {
  width: 50% !important;
  margin: 30px auto;
}
.menu-bg {
  background-image: url("./assets/images/background.jpg") !important;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.banner-area2:after {
  background: linear-gradient(transparent, #171717);
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}
</style>
